*{
  margin:0;
  font-family: 'Poppins', sans-serif;
}
.container{
  display:flex;
  flex-direction: column;
  height: 100vh;
}
.header {
  width:100vw;
  background-color: #FFFFFF;
  padding: 1rem;
  text-align: center;
  position: fixed; 
  top: 0;
  z-index: 1000; 
}

.footer {
  width:100vw;
  background-color: #FFFFFF;  
  padding: 1rem;
  text-align: center;
  position: fixed; 
  bottom: 0;
  z-index: 1000; 
  }
 
.footer-container{
  display:flex;
  justify-content:space-evenly

}
.active-footer-tab{
  color:#E57601;
  text-decoration:underline
}


.wishlistfallback{
  margin-left:20px;
  padding-top:80px;
}



.grid{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly;
  padding-top:76px;
  padding-bottom:86px;
  padding-left:auto;
  padding-right:auto
}
.prop-image{
  width:176.5px;
  height:246px;
}
.card{
  margin-top:12px;
      border-radius: 10px;

  
}

.tag-empty{
  visibility: hidden;

}

.middle-container{
  display:flex;
  justify-content:space-between;
  margin-top:5px;
}

.prop-address{
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;

}

.views{
  color:#888888;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  display:flex

}

.less-rating{
  color:#E57601;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  display:flex

}
.more-rating{
  color:#278717;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  display:flex
}
.map-container{
  margin-top:10px
}
#map{
  border-top-left-radius: 8px; 
  border-top-right-radius: 8px;
}
.dates{
  font-size: 10px;
color:#888888
}
.img-container{
  position:relative
}

.img-header{
  position:absolute;
  padding-top:8px;
  padding-left:5px;
  padding-right:5px;
  display:flex;
  justify-content:space-between;
  width:95%;
  z-index:1
}

.tag{
  background-color:#FFFFFF;
  width:82px;
  height:26px;
  padding-top:2px;
  padding-bottom:2px;
  padding-left:10px;
  padding-right:10px;
  border-radius:16px;
  display:flex;
  align-items:center;
}


.custom-link{
  text-decoration: none; 
    color:inherit
}

.product-details-container{
  display:flex;
  justify-content:center;
  align-items:center;
  padding-top:76px;
  padding-bottom:100px;
  flex-direction:column
}

.product-image-container{
  height:486px;
  width:389px;
  position:relative;
  width:95%;
  min-width:340px;
  max-width:389px;
}

.product-details-img{
  width:100%;
  height:100%;
  border-radius:8px;

}

.product-img-tag{
  position:absolute;
  top:5px;
  left:5px;
}

.product-address-detials{
  display:flex;
  width:95%;
  min-width:340px;
  max-width:389px;  justify-content:space-between;
  font-family: 'Poppins', sans-serif;
  margin-top:10px;


}
.location-container{
  width:95%;
  min-width:340px;
  max-width:389px;  
}

.full-address-container{
  font-family: 'Poppins', sans-serif;
margin-top:10px;
}
.full-address{
  margin-top:10px
}

.inside-address{
  display:flex;
  align-items:center;
}
.address{
  font-size:25px;
  color:#252B5C;
  font-weight:bold
}
.price{
  font-size:25px;
  color:#252B5C;
  font-weight:bold
}

.map-footer{
  font-family: 'Poppins', sans-serif;
  height:20px;
  font-size:16px;
  font-weight:bold;
  color:#FF7504;
  background-color:#FF750426;
  display:flex;
  justify-content:center;
  padding:8px;
  border-bottom-left-radius: 8px; 
  border-bottom-right-radius: 8px;
}

.facilities-container{
  margin-top:10px;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly
}
.facility{
  background-color:#F5F4F8;
  padding-left:25px;
  padding-right:25px;
  padding-top:7px;
  padding-bottom:7px;
  border-radius:20px;
  font-size:10;
  color:#1F4C6B;
  font-weight:bold;
  font-family: 'Poppins', sans-serif;

}

.prop-amen-container{
  display:flex;
  margin-top:10px;
}


.property{
  padding-left:25px;
  padding-right:25px;
  padding-top:7px;
  padding-bottom:7px;
  border-radius:20px;
  font-size:10;
  margin-right:10px
}

.activeprop{
  font-family: 'Poppins', sans-serif;

  background-color:#234F68;
  color:#F5F4F8;
}
.inactiveprop{
  background-color:#F5F4F8;
  color: #234F68;
  font-family: 'Poppins', sans-serif;

}

.property-ammenty-title{
  font-family: 'Poppins', sans-serif;
margin-top:10px;
}

